body {
} 

/* End of container */
.button {
  cursor: pointer;
  width: 200px;
  height: 173.20508px;
}
.button:last-child {
  margin-right: 0;
}
.button:hover .hex:last-child {
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.button:hover .hex:first-child {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.button:hover .hex:first-child div:before, .button:hover .hex:first-child div:after {
  height: 15px;
}

.hex {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 173.20508px;
  opacity: 0.5;
}
.hex:first-child {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}
.hex:last-child {
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
.hex div {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100px;
  height: 173.20508px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.hex div:before, .hex div:after {
  content: ' ';
  position: absolute;
  background: white;
  width: 100%;
  height: 1px;
  -webkit-transition: height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hex div:before {
  top: 0;
}
.hex div:after {
  bottom: 0;
}
.hex div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.hex div:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.hex div:nth-child(3) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.button-wrapper{
  width: 100%;
  height: 33%;
  display: flex;  
}

#stay-download{
  transform: translate(33%, 33%);
}

#extension-download{
  transform: translate(33%, 66%);
}

#going-out-download{
  transform: translate(33%, 99%);
}

#facility-download{
  transform: translate(336%, -267%);
}

#notice-management{
  transform: translate(336%, -234%);
}

#dorm-rule-management{
  transform: translate(336%, -201%);
}

#faq-management{
  transform: translate(613%, -567%);
}

#qna-management{
  transform: translate(613%, -534%);
}

#delete-account{
  transform: translate(613%, -501%);
}

#background-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

.hex>div>p{
    color: white;
    font-size: 2vh; 
    line-height: 3vh;
    margin-top: 86.60254px;
    transform: translateY(-50%);
    text-align: center;
}