@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#clock-in {
    padding: 0;
    position: relative;
    width: 185px;
    height: 185px;
    margin: 1vh auto;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 200px;
    border: 8px solid white;
}

#sec,
#min,
#hour {
    position: absolute;
    width: 30px;
    border-radius: 200px;
}

li {
    background-color: fuchsia;
    width: 30px;
}

#sec {
    background-color: transparent;
    width: 3px;
    height: 160px;
    top: 12px;
    left: 92px;
    z-index: 3;
    margin-bottom: -97px;
    border-radius: 200px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 64%, rgba(208, 74, 64, 0) 65%, rgba(208, 74, 64, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(64%, rgba(255, 255, 255, 1)), color-stop(65%, rgba(208, 74, 64, 0)), color-stop(100%, rgba(208, 74, 64, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 64%, rgba(208, 74, 64, 0) 65%, rgba(208, 74, 64, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 64%, rgba(208, 74, 64, 0) 65%, rgba(208, 74, 64, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 64%, rgba(208, 74, 64, 0) 65%, rgba(208, 74, 64, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 64%, rgba(208, 74, 64, 0) 65%, rgba(208, 74, 64, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d04a40', endColorstr='#00d04a40', GradientType=0);
    /* IE6-9 */
}

#min {
    background-color: #545454;
    width: 6px;
    height: 160px;
    top: 12px;
    left: 92px;
    z-index: 2;
    border-radius: 3px;
    background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(84, 84, 84, 1)), color-stop(50%, rgba(84, 84, 84, 1)), color-stop(51%, rgba(84, 84, 84, 0)), color-stop(100%, rgba(84, 84, 84, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#00545454', GradientType=0);
    /* IE6-9 */
}

#hour {
    background: #545454;
    width: 6px;
    height: 90px;
    top: 47px;
    left: 92px;
    z-index: 1;
    border-radius: 3px;
    background: -moz-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(84, 84, 84, 1)), color-stop(50%, rgba(84, 84, 84, 1)), color-stop(51%, rgba(84, 84, 84, 0)), color-stop(100%, rgba(84, 84, 84, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(84, 84, 84, 0) 51%, rgba(84, 84, 84, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#00545454', GradientType=0);
    /* IE6-9 */
}