*{
  font-family: "malgun gothic"!important;
}

body {
  overflow: hidden;
} 

.admin-title{
  color: white;
  text-align: center;
  padding: 5vh;
  margin: 0 2vh;
  font-size: 5vh;
  border-bottom: 1px solid white;
}

#background-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    transform: scale(1.2);
}