@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

:not(i) {
    font-family: "malgun gothic", "sans-serif"!important;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    position: relative;
    background: black;
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.left-line {
    height: 100%;
    position: absolute;
    width: 12px;
    background-color: #607D8B;
    z-index: 3;
}

#background-image {
    position: absolute;
    float: right;
    right: 0;
    height: 100%;
    z-index: -2;
}

#background-image img {
    height: 100%;
    transform: scale(1);
    /*-webkit-filter: blur(5px) brightness(50%);*/
}

#background-image svg>img {
    height: 100%;
}

#panel {
    width: 80%;
    background: white;
    display: flex;
    height: 100%;
    transition: 0.3s ease;
}

.curved-image {
    stroke-opacity: 0;
    float: right;
    transform: translateX(100%);
    position: absolute;
    height: 100%;
    top: 0;
    right: 0px;
}

#left-panel {
    width: 65%;
    background: white;
    position: relative;
    z-index: 1;
    border-right: 1px solid white;
}

#right-panel {
    width: 35%;
    background: #607D8B;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #607D8B;
}

#stay-apply-container {
    height: 50%;
    transform: translateX(10%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#open-stay-apply {
    cursor: pointer;
    margin-left: 25%;
    width: 50%;
    border-radius: 10000000000px;
    border-width: 0;
    color: white;
    line-height: 5vh;
    font-size: 2vh;
    background: #48CFAD ;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#stay-apply-container img {
    padding: 0;
    position: relative;
    width: 185px;
    height: 185px;
    margin: 2vh auto;
    list-style: none;
}

.current-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 4vh;
}

.current-status svg {
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}

.current-status svg:hover {
    cursor: pointer;
}

.current-status p {
    color: white;
    font-size: 3vh;
    margin: 0;
}

#extension-apply-container {
    height: 50%;
    transform: translateX(10%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#open-extension-apply {
    cursor: pointer;
    margin-left: 25%;
    width: 50%;
    border-width: 0;
    border-radius: 999px;
    color: white;
    line-height: 5vh;
    font-size: 2vh;
    background: #48CFAD ;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
::selection {
    background: none;
}

.continput {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 270px;
    padding: 16px;
    box-sizing: border-box;
}

.continput ul {
    list-style-type: none;
    width: 220px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.continput li {
    position: relative;
    padding: 10px;
    padding-left: 40px;
    margin: 30px 0px;
    height: 30px;
}

.continput label {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.continput label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    left: 7px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    cursor: pointer;
}

.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: -3px;
    top: 2px;
    border: 5px solid #fff;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked~.bullet {
    position: absolute;
    opacity: 1;
    animation-name: explode;
    animation-duration: 0.350s;
}

.line {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
}

.line.zero {
    left: 11px;
    top: -21px;
    transform: translateY(20px);
    width: 2px;
    height: 10px;
}

.line.one {
    right: -7px;
    top: -11px;
    transform: rotate(-55deg) translate(-9px);
}

.line.two {
    right: -20px;
    top: 11px;
    transform: translate(-9px);
}

.line.three {
    right: -8px;
    top: 35px;
    transform: rotate(55deg) translate(-9px);
}

.line.four {
    left: -8px;
    top: -11px;
    transform: rotate(55deg) translate(9px);
}

.line.five {
    left: -20px;
    top: 11px;
    transform: translate(9px);
}

.line.six {
    left: -8px;
    top: 35px;
    transform: rotate(-55deg) translate(9px);
}

.line.seven {
    left: 11px;
    bottom: -21px;
    transform: translateY(-20px);
    width: 2px;
    height: 10px;
}

input[type="radio"]:checked~.bullet .line.zero {
    animation-name: drop-zero;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.one {
    animation-name: drop-one;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.two {
    animation-name: drop-two;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.three {
    animation-name: drop-three;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.four {
    animation-name: drop-four;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.five {
    animation-name: drop-five;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.six {
    animation-name: drop-six;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked~.bullet .line.seven {
    animation-name: drop-seven;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes explode {
    0% {
        opacity: 0;
        transform: scale(10);
    }
    60% {
        opacity: 1;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drop-zero {
    0% {
        opacity: 0;
        transform: translateY(20px);
        height: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(-2px);
        height: 0px;
        opacity: 0;
    }
}

@keyframes drop-one {
    0% {
        opacity: 0;
        transform: rotate(-55deg) translate(-20px);
        width: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: rotate(-55deg) translate(9px);
        width: 0px;
        opacity: 0;
    }
}

@keyframes drop-two {
    0% {
        opacity: 0;
        transform: translate(-20px);
        width: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translate(9px);
        width: 0px;
        opacity: 0;
    }
}

@keyframes drop-three {
    0% {
        opacity: 0;
        transform: rotate(55deg) translate(-20px);
        width: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: rotate(55deg) translate(9px);
        width: 0px;
        opacity: 0;
    }
}

@keyframes drop-four {
    0% {
        opacity: 0;
        transform: rotate(55deg) translate(20px);
        width: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: rotate(55deg) translate(-9px);
        width: 0px;
        opacity: 0;
    }
}

@keyframes drop-five {
    0% {
        opacity: 0;
        transform: translate(20px);
        width: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translate(-9px);
        width: 0px;
        opacity: 0;
    }
}

@keyframes drop-six {
    0% {
        opacity: 0;
        transform: rotate(-55deg) translate(20px);
        width: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: rotate(-55deg) translate(-9px);
        width: 0px;
        opacity: 0;
    }
}

@keyframes drop-seven {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        height: 10px;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(2px);
        height: 0px;
        opacity: 0;
    }
}


/*notice ----------------------------------------------------------*/

.notice {
    height: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.notice-title-container {
    background: #eeeeee;
    border-radius: 2vh 2vh 0 0;
    padding: 2vh 2vh 1vh 2vh;
}

.writer-container{
    display: flex;
    flex-direction: column;
}

#notice-title {
    /*margin: 0;*/
    font-size: 2.1rem;
    font-weight: 200;
}

#notice-title::after {
    font-size: 1.1rem;
    content: "new";
    background-color: yellow;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    border-radius: 1000000000px;
}

.notice-title-date {
    text-align: right;
    position: absolute;
    right: 2vh;
}

.notice-title-writer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.notice-title-writer span {
    width: 10vh;
    height: 10vh;
    background: #607D8B;
    border-radius: 999px;
    color: white;
    font-size: 2vh;
    line-height: 3vh;
    text-align: center;
    transform-origin: center;
}

.notice-title-writer span:hover {
    cursor: pointer;
}


#writer-content {
    display: inline-block;
    vertical-align: middle;
    line-height: 1vh;
    margin-top: 4.5vh;
    /*set line height back to normal*/
}

#writer-content-long{
    font-size: 1.5vh;
    margin-top: 50%;
    transform: translateY(-50%);
}

.speech-bubble-tail {
    width: 4vh;
    height: 4vh;
    background: #eeeeee;
    transform: rotate(45deg) translateY(3vh);
    margin-left: 5vh;
}

.notice-content-container {
    background: #eeeeee;
    border-radius: 0 0 2vh 2vh;
    padding: 0 2vh 0 2vh;;
    position: relative;
}

.notice-content-container p {
    max-height: 7vh;
    min-height: 7vh;
    overflow: hidden;
}

.contact-facebook{
    width: 10vh;
    height: 10vh;
    border-radius: 999px;
    background: #3b5998;
    text-align: center;
    color: white;
}

.contact-facebook i{
    margin-top: 50%;
    transform: translateY(-50%);
}

.contact-github{
    width: 10vh;
    height: 10vh;
    border-radius: 999px;
    text-align: center;
    color: black;
}

.contact-github i{
    margin-top: 50%;
    transform: translateY(-50%);
}

.notice-more {
    background: #607B8D;
    position: absolute;
    right: -5vh;
    bottom: -5vh;
    width: 10vh;
    height: 10vh;
    border-radius: 10vh;
    z-index: 50;
    transition: 0.3s ease-in;
}

.notice-more:hover {
    cursor: pointer;
    transform: rotate(180deg);
    background: #604FDD;
}

.notice-more:before {
    content: " ";
    background: white;
    width: 25px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notice-more:after {
    content: " ";
    background: white;
    width: 3px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-box-container-container {
    height: 80%;
    width: 80%;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 10%;
}

.list-box-no-container{
    position: absolute;
    width: 0;
	height: 0;
	border-top: 8vh solid rgba(255, 255, 255, .2);;
	border-right: 8vh solid transparent;
}

.list-box-no{
    position: absolute;
    margin: 1vh 0 0 1vh;
}

.list-box-no-content{
    text-align: left;
    margin-left: 20px;
    opacity: 0;
    transition: 1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.list-box-writer{
    margin: 0 auto;
    font-size: 3vh;
    margin-top: 8vh;
    transform: translateY(-50%);
}

.list-box-title{
    margin: 0 auto;
}

.list-box-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 10%;
}

.list-box {
    cursor: pointer;
    margin: 20px;
    width: 20vh;
    height: 20vh;
    background-color: rgba(255, 255, 255, .2);
    color: white;
    font-weight: 100;
    text-align: center;
    transition: 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}


/*meal ----------------------------------------------------------*/

.meal {
    height: 50%;
    padding-left: 50px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.meal-remote-control {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meal-date {
    margin: auto 2vh;
    font-size: 1.5rem;
}

.meal-remote-control img {
    width: 3vh;
    height: 3vh;
    padding: 1vh;
}

.meal-remote-control img:hover {
    cursor: pointer;
    transition: 0.3s ease-in;
    background: rgba(0, 0, 0, .2);
    border-radius: 999px;
}

#previous-menu {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.meal-info {
    height: 80%;
}

.meal-block {
    display: flex;
    height: 33%;
    /*padding: 0 20px 0 20px;*/
}

.meal-title, .meal-content {
    display: inline-block;
}

.meal-title::before {
    font-size: 1.1rem;
    content: '';
    background-color: #607D8B;
    padding: 0 5px 0 5px;
    flex-direction: row;
    height: 6vh;
    margin-right: 1vh;
}

.meal-content {
    transform: translateY(5%);
    font-size: 1.1rem;
    flex: 6.5 0 0%;
    z-index: 3;
}

.meal-title {
    flex: 1 0 0%;
    min-width: 90px;
    font-size: 2.1rem;
    font-weight: 200;
    display: flex;
}


/*기타 메뉴*/

.menu-wrapper {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 50%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    transition: 0.3s ease;
}

#menu2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 50%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    transition: 0.3s ease;
    opacity: 0;
    z-index: -1;
}

.menu-item {
    height: 8vh;
    margin-bottom: 4vh;
    margin-top: 4vh;
    width: 10vh;
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item img {
    height: 100%;
    width: 100%;
}

.menu-item span {
    font-size: 1.3vh;
    color: white;
}

#menu-pagenation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    width: 10vh;
}

#menu-pagenation .index {
    width: 2vh;
    height: 2vh;
    border-radius: 999px;
    background: rgba(255, 255, 255, .2);
    margin: 0 0.5vh;
    cursor: pointer;
}

.current-index {
    transition: 0.15s ease-in;
    background: rgba(255, 255, 255, .5)!important;
}

.hide-page {
    opacity: 0!important;
    z-index: -1!important;
}

.show-page {
    opacity: 1!important;
    z-index: 0!important;
}


/*연장신청페이지--------------------------*/

#extension-apply-window {
    width: 74%;
    height: 100%;
    opacity: 0;
    /*z-index: -1;*/
    position: absolute;
    right: 0;
    transition: 0.3s ease;
}

#extension-apply-window img {
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 5vh;
}

#extension-apply-window img:hover {
    cursor: pointer;
}

#extension-apply-window .extension-class-select {
    margin-top: 10%;
    height: 72%;
    width: 36vh;
    margin-left: 5%;
    color: white;
    text-align: center;
    float: left;
}

#extension-apply-window .extension-class-select td {
    border-radius: 999px;
    width: 18vh;
    height: 18vh;
}

#extension-apply-window .extension-class-select td:hover {
    transition: 0.2s ease-in;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
}

#extension-apply-window .extension-class-select p {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

#extension-apply-window .extension-class-select span {
    font-size: 0.5rem;
}

.extension-seat-container {
    margin-top: 10%;
    height: 85%   ;
    float: left;
    margin-left: 8%;
    max-width: 46vw;
    overflow: auto;
}

.extension-seat-container td {
    text-align: center;
}

.extension-board {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 8.5%;
    border-radius: 999px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
}

#extension-apply-window .extension-board p {
    font-size: 1.2rem;
    color: white;
}

.extension-seat {
    background-color: rgba(255, 255, 255, 0.2);
    width: 9.5vh;
    height: 9.5vh;
    border-radius: 10vh;
    display: inline-block;
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.selectalbe-seat:hover {
    transition: 0.1s ease-in;
    background-color: rgba(255, 255, 255, 0.5);
}

.none-selectalbe-seat {
    width: 4.75vh;
    height: 4.75vh;
    opacity: 0;
}


/*modal------------------------------------------------------------*/

.page-wrapper {
    width: 100%;
    height: 100%;
    background: url(http://i.imgur.com/2ZgHKbQ.jpg) center no-repeat;
    background-size: cover;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

a.btn {
    width: 150px;
    display: block;
    margin: -25px 0 0 -75px;
    padding: 1em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font: 1.125em 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background: rgba(217, 67, 86, 1);
}

.modal-wrapper {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: rgba(0, 0, 0, 0);*/
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    /*display: none;*/
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.modal-wrapper.open {
    opacity: 1;
    /*background: rgba(0, 0, 0, 0.8);*/
    visibility: visible;
    /*z-index: 10;*/
    /*display: block;*/
}

.modal {
    width: 40%;
    height: 80%;
    display: block;
    position: absolute;
    transform: translateY(0vh);
    left: 30vw;
    background: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.modal-wrapper.open .modal {
    opacity: 1;
    transform: translateY(10vh);
}

.head {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
    background: #607D8B;
    opacity: 1;
}

.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: #607D8B;
}

.btn-close {
    font-size: 1.5rem;
}

.content {
    height: 100%;
    padding: 10% 10% 10% 10%;
}


/*login---------------------------------------------------------------------------*/

.login-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 200;
    color: #607D8B;
    position: relative;
}

.login-title:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -12.5%;
    background: #607D8B;
}

.login-input {
    margin-top: 20px;
    position: relative;
    height: 60px;
}

.login-input input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 100;
    border: 0;
    outline: none;
}

.login-input::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
}

.login-input label {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 60px;
    transition: 0.3s ease;
}

.login-button {
    /*position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    height: 10vh;*/
}

.modal-button {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 40%;
    /*margin: 20px 5% 0 5%;*/
    height: 10vh;
    display: inline-block;
}

.modal-button-box {
    text-align: center;
}

.modal-button button {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #607D8B;
  outline: 0;
  font-size: 1.5rem;
}

.login-button button {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #607D8B;
    outline: 0;
    font-size: 1.5rem;
}

.login-input .spin {
    transition: 0.3s ease;
    background-color: #607D8B;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.login-button button:hover {
    cursor: pointer;
    border: 3px solid #607D8B;
    background-color: white;
}

.click-efect {
    position: absolute;
    top: 0;
    left: 0;
    background: #607D8B;
    border-radius: 50%;
}

.login-box a {
    margin: 20px;
    display: block;
    text-align: center;
    color: #607D8B;
    text-decoration-line: none;
}

/*animaion------------------------------------------------------------------------*/

.left-move {
    transform: translateX(-74%);
}

.fade-in {
    opacity: 1 !important;
    display: block !important;
}

.fade-out {
    opacity: 0 !important;
    display: none !important;
}

.select {
    background: rgba(0, 255, 0, .3) !important;
}


/*mypage*/

.mypage-window {}

.mypage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-bottom: 1px;
    margin-top: 10vh;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.profile-container img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.profile-container span {
    color: white;
    margin: auto;
}

.profile-container .name {
    font-size: 2rem;
    font-weight: 100;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin: 1vh 0;
}

.point-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-right: 0.5px solid white;
    transition: 0.2s ease-out;
    border-top-left-radius: 20px;
}

.point-container:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
}

.point-container span {
    color: white;
    margin: 0 auto;
}

.edit-password-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-left: 0.5px solid white;
    transition: 0.2s ease-out;
    border-top-right-radius: 20px;
}

.edit-password-container:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
}

.edit-password-container a {
    text-decoration: blink;
    color: white;
    margin: 0 auto;
}

.request-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin: 1vh 0;
}

.qna-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-right: 0.5px solid white;
    transition: 0.2s ease-out;
    border-bottom-left-radius: 20px;
}

.qna-container:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
}

.qna-container a {
    text-decoration: blink;
    color: white;
    margin: 0 auto;
}

.facility-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-left: 0.5px solid white;
    transition: 0.2s ease-out;
    border-bottom-right-radius: 20px;
}

.facility-container:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
}

.facility-container a {
    text-decoration: blink;
    color: white;
    margin: 0 auto;
}

#close-mypage-window {
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 10vh;
    z-index: 1;
}


/*window------------------------*/

.window {
    width: 74%;
    height: 100%;
    opacity: 0;
    /*z-index: -1;*/
    position: absolute;
    right: 0;
    transition: 0.3s ease;
    display: none;
}

.window-close {
    cursor: pointer;
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 10vh;
    z-index: 1;
}


/*bug----------------*/

.bug-content {
    width: 100%;
    margin-top: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bug-content textarea {
    width: 100%;
    outline: none;
    padding: 0;
    border: 0;
}

.bug-button button, .password-change button {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #607D8B;
    outline: 0;
    font-size: 1.5rem;
}

.bug-content .spin {
    transition: 0.3s ease;
    background-color: #607D8B;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.bug-button button:hover {
    cursor: pointer;
    border: 3px solid #607D8B;
    background-color: white;
}


/*iframe test------------*/

iframe {
    width: 100vw;
    height: 100%;
}


/*going out*/

#going-out-apply-window img {
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 5vh;
    z-index: 1;
}

#going-out-apply-window #going-out-btn {
    position: absolute;
    bottom: 8vh;
    right: 25vh;
    width: 15vh;
    height: 15vh;
    background: rgba(255, 255, 255, .2);
    border-radius: 999px;
    border-width: 0;
    font-size: 1.5rem;
    color: white;
    transition: 0.2s ease-in;
    outline: 0;
}

#going-out-apply-window #going-out-btn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .4);
}

.going-out-container {
    width: 60%;
    height: 70%;
    margin: 15vh auto 0vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.going-out-container span {
    color: white;
    font-size: 1rem;
}

.day-container-wrapper {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#going-out-apply-btn {
    margin: auto;
}

.saturday-container {
    width: 50%;
    height: 100%;
    transition: 0.2s ease-in;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.saturday-container svg {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
}

.saturday-container path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke-dashoffset: "";
}

.saturday-container p {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

.saturday-container:hover {
    cursor: pointer;
    background: rgba(0, 255, 0, .1);
}

.sunday-container {
    width: 50%;
    height: 100%;
    transition: 0.2s ease-in;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sunday-container p {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

.sunday-container:hover {
    cursor: pointer;
    background: rgba(0, 255, 0, .1);
}

.sunday-container svg {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
}

.sunday-container path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke-dashoffset: "";
}


/*apply button*/

@keyframes jelly {
    10% {
        transform: none;
    }
    20% {
        transform: skewX(-15deg) skewY(-15deg);
    }
    30% {
        transform: skewX(5.51876deg) skewY(5.51876deg);
    }
    40% {
        transform: skewX(-2.03045deg) skewY(-2.03045deg);
    }
    50% {
        transform: skewX(0.74704deg) skewY(0.74704deg);
    }
    60% {
        transform: skewX(-0.27485deg) skewY(-0.27485deg);
    }
    70% {
        transform: skewX(0.10112deg) skewY(0.10112deg);
    }
    80% {
        transform: skewX(-0.0372deg) skewY(-0.0372deg);
    }
    90% {
        transform: skewX(-0.01369deg) skewY(-0.01369deg);
    }
    100% {
        transform: none;
    }
}

.apply-btn {
    width: 10vh;
    height: 10vh;
    background: rgba(255, 255, 255, .2);
    border-radius: 999px;
    border-width: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    outline: 0;
    transition: 0.15s ease-in;
}

.apply-btn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .3);
    animation: jelly 1.2s ease-in 0s forwards;
}

.apply-btn i {
    transition: 0.3s ease;
}

.apply-btn svg {
    display: none;
}

.send-paperplane {
    opacity: 0;
    margin-left: 50%;
    margin-bottom: 50%;
}

#easter-egg{
    position: absolute;
    top: 0;
    opacity: 0;
}

@media only screen and (max-width: 1000px){
    #easter-egg{
        opacity: 1;
        z-index: 999999999999999999999;
        width: 100vw;
        height: 100%;
    }
    #easter-egg img{
        width: auto;
        height: 100%;
    }
}

.infoAlert {

}
