body {
    position: relative;
    background: black;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#background-image {
    position: absolute;
    float: right;
    right: 0;
    height: 100%;
    z-index: -1;
}

#background-image img {
    height: 100%;
    transform: scale(1.1);
    filter: blur(5px) brightness(50%);
    -webkit-filter: blur(5px) brightness(50%);
}

#panel {
    width: 75%;
    background: white;
    display: flex;
    height: 100%;
}

#left-panel {
    width: 60%;
    background: white;
    position: relative;
}

#left-panel img {
    float: right;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#right-panel {
    width: 40%;
    background: #607D8B;
    position: relative;
}

#right-panel img {
    float: right;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
}

#stay-apply-container {
    height: 50%;
}

#extension-apply-container {
    height: 50%;
    transform: translateX(15%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

#current-status {}

#current-status p {
    color: white;
    padding: 0px;
    font-size: 2vh;
}

#extension-apply {
    margin-left: 25%;
    width: 50%;
    background: transparent;
    border: 2px solid white;
    border-radius: 10000000000px;
    color: white;
    line-height: 5vh;
}