* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    position: relative;
    background: black;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.line {
    height: 100%;
    position: absolute;
    width: 12px;
    background-color: #607D8B;
    z-index: 3;
}

#background-image {
    position: absolute;
    float: right;
    right: 0;
    height: 100%;
    z-index: -2;
}

#background-image img {
    height: 100%;
    transform: scale(1.1);
    filter: blur(5px) brightness(50%);
    -webkit-filter: blur(5px) brightness(50%);
}

#panel {
    width: 80%;
    background: white;
    display: flex;
    height: 100%;
    transition: 0.3s ease;
}

.curved-image {
    stroke-opacity: 0;
    float: right;
    transform: translateX(100%);
    position: absolute;
    height: 100vh;
    top: 0;
    right: 1px;
}

#left-panel {
    width: 65%;
    background: white;
    position: relative;
    z-index: 1;
}

#right-panel {
    width: 35%;
    background: #607D8B;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stay-apply-container {
    height: 50%;
    transform: translateX(10%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stay-apply {
    margin-left: 25%;
    width: 50%;
    background: transparent;
    border: 2px solid white;
    border-radius: 10000000000px;
    color: white;
    line-height: 5vh;
}

#stay-apply-container img {
    padding: 0;
    position: relative;
    width: 185px;
    height: 185px;
    margin: 1vh auto;
    list-style: none;
}

.current-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 4vh;
}

.current-status svg {
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}

.current-status svg:hover {
    cursor: pointer;
}

.current-status p {
    color: white;
    font-size: 3vh;
    margin: 0;
}

#extension-apply-container {
    height: 50%;
    transform: translateX(10%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#extension-apply {
    margin-left: 25%;
    width: 50%;
    background: transparent;
    border: 2px solid white;
    border-radius: 10000000000px;
    color: white;
    line-height: 5vh;
}


/*notice ----------------------------------------------------------*/

.notice {
    height: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.notice-title-container {
    background: #eeeeee;
    border-radius: 2vh 2vh 0 0;
    padding: 2vh 2vh 1vh 2vh;
    /*border-bottom: 1px solid black;*/
}

#notice-title {
    /*margin: 0;*/
    font-size: 2.1rem;
    font-weight: 200;
}

#notice-title::after {
    font-size: 1.1rem;
    content: "new";
    background-color: yellow;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    border-radius: 1000000000px;
}

.notice-title-date {
    text-align: right;
    position: absolute;
    right: 2vh;
}

.notice-title-writer {
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}

.notice-title-writer>span {
    width: 10vh;
    height: 10vh;
    background: #607D8B;
    border-radius: 999px;
    color: white;
    font-size: 3vh;
    line-height: 3vh;
    text-align: center;
    transform-origin: center;
}

#writer-content {
    display: inline-block;
    vertical-align: middle;
    line-height: 1vh;
    margin-top: 4.5vh;
    /*set line height back to normal*/
}

.speech-bubble-tail {
    width: 4vh;
    height: 4vh;
    background: #eeeeee;
    transform: rotate(45deg) translateY(3vh);
    margin-left: 5vh;
}

.notice-content-container {
    background: #eeeeee;
    border-radius: 0 0 2vh 2vh;
    padding: 2vh;
}

.notice-more {
    background: #607B8D;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    width: 15vh;
    border-radius: 2vh;
}


/*meal ----------------------------------------------------------*/

.meal {
    height: 50%;
    padding-left: 50px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.meal-remote-control {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meal-date {
    margin: auto 2vh;
    font-size: 1.5rem;
}

.meal-remote-control img {
    width: 3vh;
    height: 3vh;
    padding: 1vh;
}

.meal-remote-control img:hover {
    cursor: pointer;
    transition: 0.3s ease-in;
    background: rgba(0, 0, 0, .2);
    border-radius: 999px;
}

#previous-menu {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.meal-info {
    height: 80%;
}

.meal-block {
    display: flex;
    height: 33%;
    /*padding: 0 20px 0 20px;*/
}

.meal-title,
.meal-content {
    display: inline-block;
}

.meal-title::before {
    font-size: 1.1rem;
    content: '';
    background-color: #607D8B;
    padding: 0 5px 0 5px;
    flex-direction: row;
    height: 6vh;
    margin-right: 1vh;
}

.meal-content {
    transform: translateY(5%);
    font-size: 1.1rem;
    flex: 6.5 0 0%;
    z-index: 3;
}

.meal-title {
    flex: 1 0 0%;
    min-width: 90px;
    font-size: 2.1rem;
    font-weight: 200;
    display: flex;
}


/*기타 메뉴*/

#menu {
    position: absolute;
    top: 0px;
    right: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 100vh;
    transition: 0.3s ease;
}

.menu-item {
    height: 8vh;
    margin-bottom: 4vh;
    margin-top: 4vh;
    width: 10vh;
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item img {
    height: 100%;
    width: 100%;
}

.menu-item span {
    font-size: 0.2rem;
    color: white;
}


/*연장신청페이지--------------------------*/

#extension-apply-window {
    width: 74%;
    height: 100vh;
    opacity: 0;
    /*z-index: -1;*/
    position: absolute;
    right: 0;
    transition: 0.3s ease;
}

#extension-apply-window img {
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 5vh;
}

#extension-apply-window img:hover {
    cursor: pointer;
}

#extension-apply-window .extension-class-select {
    margin-top: 14vh;
    height: 72vh;
    width: 36vh;
    margin-left: 5%;
    color: white;
    text-align: center;
    float: left;
}

#extension-apply-window .extension-class-select td {
    border-radius: 999px;
    width: 18vh;
    height: 18vh;
}

#extension-apply-window .extension-class-select td:hover {
    transition: 0.2s ease-in;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
}

#extension-apply-window .extension-class-select p {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

#extension-apply-window .extension-class-select span {
    font-size: 0.5rem;
}

.extension-seat-container {
    margin-top: 14vh;
    height: 72vh;
    float: left;
    margin-left: 8%;
}

.extension-seat-container td {
    text-align: center;
}

.extension-board {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 8.5%;
    border-radius: 999px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
}

#extension-apply-window .extension-board p {
    font-size: 1.2rem;
    color: white;
}

.extension-seat {
    background-color: rgba(255, 255, 255, 0.2);
    width: 9.5vh;
    height: 9.5vh;
    border-radius: 10vh;
    display: inline-block;
    margin: 0.5vw;
    /*margin: 10px;*/
}


/*modal------------------------------------------------------------*/

.page-wrapper {
    width: 100%;
    height: 100%;
    background: url(http://i.imgur.com/2ZgHKbQ.jpg) center no-repeat;
    background-size: cover;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

a.btn {
    width: 150px;
    display: block;
    margin: -25px 0 0 -75px;
    padding: 1em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font: 1.125em 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background: rgba(217, 67, 86, 1);
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 10;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    /*height: 400px;*/
    height: 100vh;
    display: block;
    /*margin: 50% 0 0 -300px;*/
    margin: 0 0 0 -300px;
    position: relative;
    /*top: 50%;*/
    transform: translateY(100%);
    left: 50%;
    background: white;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.modal-wrapper.open .modal {
    /*margin-top: -200px;*/
    transform: translateY(0%);
}

.modal-wrapper.open .modal .content {
    opacity: 0.7;
}

.head {
    width: 90%;
    height: 15%;
    padding: 1.5em 5%;
    overflow: hidden;
    background: aqua;
    opacity: 1;
}

/*.btn-close {
    width: 32px;
    height: 100%;
    display: block;
    float: right;

    margin: 0 !important;
}


.btn-close::before, .btn-close::after {
    content: '';
    width: 32px;
    height: 6px;
    display: block;
    background: black;
}


.btn-close::before {
    margin-top: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-close::after {
    margin-top: -6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}*/

.content {
    /*padding: 5%;*/
    /*text-align: center;*/
    height: 100%;
    padding: 25% 10% 25% 10%;
}


/*login---------------------------------------------------------------------------*/

.login-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 200;
    color: #607D8B;
    position: relative;
}

.login-title:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -12.5%;
    background: #607D8B;
}

.login-input {
    margin-top: 20px;
    position: relative;
    height: 60px;
}

.login-input input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 100;
    border: 0;
    outline: none;
}

.login-input::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
}

.login-input label {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 60px;
    transition: 0.3s ease;
}

.login-button {
    /*position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    height: 10vh;*/
}

.modal-button {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 40%;
    /*margin: 20px 5% 0 5%;*/
    height: 10vh;
    display: inline-block;
}

.modal-button-box {
    text-align: center;
}

.login-button button {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #607D8B;
    outline: 0;
}

.login-input .spin {
    transition: 0.3s ease;
    background-color: #607D8B;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.login-button button:hover {
    border: 3px solid #607D8B;
    background-color: white;
}

.click-efect {
    position: absolute;
    top: 0;
    left: 0;
    background: #607D8B;
    border-radius: 50%;
}

.login-box a {
    margin: 20px;
    display: block;
    text-align: center;
}


/*animaion------------------------------------------------------------------------*/

.left-move {
    transform: translateX(-74%);
}

.fade-in {
    opacity: 1 !important;
    display: block !important;
}

.fade-out {
    opacity: 0 !important;
    display: none !important;
}

.select {
    background: rgba(0, 255, 0, .4) !important;
}


/*말풍선*/

.speech-bubble {
    font-size: 3rem;
    position: absolute;
    display: inline-block;
    padding: 1.5rem;
    background: #00cc99;
    color: #f6f6f6;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    border-radius: 999px 999px 0px 999px;
    z-index: 10;
    left: 30%;
    top: 10%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.speech-bubble:after {
    top: 88%;
    right: 0;
    position: absolute;
    content: "";
    border: 1.5rem solid;
    border-color: #00cc99 #00cc99 transparent transparent;
}

.opponent {
    -webkit-transform-origin: right top;
    transform-origin: right top;
    background: #ff5154;
}

.opponent:after {
    top: -35%;
    left: auto;
    right: 0;
    border-color: transparent #ff5154 #ff5154 transparent;
}

.speech-bubble button {
    background: transparent;
    border: 2px solid white;
    border-radius: 999px;
    color: white;
    font-size: 1.5rem;
    line-height: 4rem;
    transition: 0.15s ease-in;
    outline: 0;
}

.speech-bubble button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
}


/*window------------------------*/

.mypage-window {}

.window {
    width: 74%;
    height: 100vh;
    opacity: 0;
    /*z-index: -1;*/
    position: absolute;
    right: 0;
    transition: 0.3s ease;
    display: none;
}

#close-mypage-window {
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 10vh;
}

.window-close {
    cursor: pointer;
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 10vh;
}


/*bug----------------*/

.bug-content {
    width: 100%;
    margin-top: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bug-content textarea {
    width: 100%;
    outline: none;
    padding: 0;
    border: 0;
}

.bug-button button {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #607D8B;
    outline: 0;
}

.bug-content .spin {
    transition: 0.3s ease;
    background-color: #607D8B;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.bug-button button:hover {
    border: 3px solid #607D8B;
    background-color: white;
}


/*iframe test------------*/

iframe {
    width: 100vw;
    height: 100vh;
}
/*going out*/

#going-out-apply-window img {
    height: 8vh;
    width: 4vh;
    position: absolute;
    top: 5vh;
    right: 5vh;
}

#going-out-apply-window {}


/*.going-out-container::before {
    font-size: 1.1rem;
    content: "주말 외출은 점심시간부터 오후 5시 30분까지입니다.";
    margin-left: 10px;
    padding: 0 10px 0 10px;
    border-radius: 1000000000px;
}*/

.going-out-container {
    width: 60%;
    height: 60%;
    margin: 20vh auto;
    display: flex;
    flex-direction: row;
}

.going-out-container span {
    position: absolute;
    transform: translateY(-2em);
    color: white;
    font-size: 1rem;
}

.saturday-container {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    transition: 0.2s ease-in;
}

.saturday-container svg {
    width: 35vh;
    height: 35vh;
    margin-top: 50%;
    transform: translateX(-3vh);
}

.saturday-container path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke-dashoffset: "";
}

.saturday-container:hover {
    cursor: pointer;
    background: rgba(0, 255, 0, .1);
}

.sunday-container {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    transition: 0.2s ease-in;
}

.sunday-container:hover {
    cursor: pointer;
    background: rgba(0, 255, 0, .1);
}

.sunday-container svg {
    width: 40vh;
    height: 40vh;
    margin-top: 50%;
    margin-left: 3vh;
}

.sunday-container path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke-dashoffset: "";
}
