<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.boxfox.dms.mapper.MealMapper">

	<!-- <resultMap type="com.boxfox.dms.apply." id="MealResultList">
        <result property="date" column="date" />
        <result property="breakfast" column="breakfast" />
        <result property="lunch" column="lunch" />
        <result property="dinner" column="dinner" />
        <result property="breakfastAllergy" column="breakfast_allergy" />
        <result property="lunchAllergy" column="lunch_allergy" />
        <result property="dinnerAllergy" column="dinner_allergy" />
    </resultMap>
    

	<select id="getMealAtDate" resultMap="MealResultList">
        SELECT * FROM meal where `date`=#{date};
    </select>
    
    <insert id="insertMealAtDate" parameterType="com.boxfox.dms.meal.dto.DayMealDTO">
    	REPLACE into meal values(#{date}, #{breakfast}, #{lunch}, #{dinner}, #{breakfastAllergy}, #{lunchAllergy}, #{dinnerAllergy})
    </insert> -->
    
</mapper>