<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.boxfox.dms.mapper.FacilityMapper">

	<resultMap type="com.boxfox.dms.board.dto.FacilityReportContext" id="SummaryResultList">
        <result property="title" column="title" />
        <result property="no" column="no" />
        <result property="writer" column="writer" />
        <result property="date" column="write_date" />
        <result property="room" column="room"/>
    </resultMap>
    
    <resultMap type="com.boxfox.dms.board.dto.FacilityReportContext" id="ResultList">
        <result property="title" column="title" />
        <result property="no" column="no" />
        <result property="writer" column="writer" />
        <result property="date" column="write_date" />
        <result property="result" column="result" />
        <result property="resultDate" column="result_date" />
    </resultMap>
    
	<select id="getPostsAtPage" resultMap="SummaryResultList">
        SELECT no, title, writer, room, write_date FROM facility_report order by `no` asc LIMIT #{page}, 10;
    </select>
    
    <select id="getPost" resultMap="ResultList">
        SELECT * FROM facility_report WHERE `no`=#{number}
    </select>
    
    <insert id="writePost" parameterType="com.boxfox.dms.board.dto.FacilityReportContext">
    	INSERT into facility_report (title, content, room, write_date, writer) values(#{title}, #{content}, #{room}, #{date}, #{writer})
    </insert>
    
    <update id="setResult" parameterType="com.boxfox.dms.board.dto.FacilityReportContext">
    	UPDATE facility_report set result=#{result}, result_date=#{resultDate}
    </update>
    
</mapper>