<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <mappers >
        <mapper resource ="/mybatis/users-mapper.xml"/>
        <mapper resource ="/mybatis/notice-mapper.xml"/>
        <mapper resource ="/mybatis/meal-mapper.xml"/>
        <mapper resource ="/mybatis/facility-mapper.xml"/>
        <mapper resource ="/mybatis/qna-mapper.xml"/>
        <mapper resource ="/mybatis/apply-mapper.xml"/>
    </mappers >
</configuration>