<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.boxfox.dms.mapper.NoticeMapper">

    <resultMap type="com.boxfox.dms.board.dto.DatePostContext" id="PostResultList">
        <result property="title" column="title" />
        <result property="no" column="no" />
        <result property="writer" column="writer" />
        <result property="content" column="content" />
        <result property="date" column="date" />
    </resultMap>

    <select id="getPost" resultMap="PostResultList">
        SELECT * FROM notice WHERE `no`=#{number}
    </select>
    
    <insert id="writePost" parameterType="com.boxfox.dms.board.dto.DatePostContext">
    	INSERT into notice (title, content, writer) values(#{title}, #{content}, #{writer})
    </insert>
    
    <update id="editPost" parameterType="com.boxfox.dms.board.dto.DatePostContext">
    	update notice set title=#{title}, content=#{content} where no=#{no}
    </update>
    
</mapper>