<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.boxfox.dms.mapper.UserMapper">

	<resultMap type="com.boxfox.dms.users.dto.UserDTO" id="LoginResultSessions">
        <result property="id" column="id" />
        <result property="password" column="password" />
    </resultMap>
    
    <resultMap type="java.lang.String" id="sessionsResult"> 
   <result property="" column="session_key"/> 
 </resultMap> 

	<select id="login" parameterType="com.boxfox.dms.users.dto.UserDTO" resultMap="sessionsResult">
        SELECT session_key FROM account WHERE(id=#{id}) AND (password=#{password})
    </select>
    
    <update id="rename" parameterType="com.boxfox.dms.users.dto.UserRenameDTO">
        UPDATE account set id=#{newId} WHERE(id=#{id}) AND (password=#{password})
    </update>
    
    <update id="modifyPassword" parameterType="com.boxfox.dms.users.dto.UserModifyPasswordDTO">
        UPDATE account set password=#{newPassword} WHERE(id=#{id}) AND (password=#{password})
    </update>
    
    <select id="checkIdExist" parameterType="String" resultType="java.lang.Integer">
        SELECT count(*) FROM account WHERE(id=#{id})
    </select>
    
</mapper>