<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DMS</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>DSM Dormitory System</h1>
    </div>

    <div class="main">
        <div class="card-wrapper">
            <div class="card">
                <div class="card-block">
                  {% if category=="notice" && type=="write" || category=="rule" && type=="write" || category=="faq" && type=="write" %}
                  <div class="underbar-title border-blue"><input class="clear-input" type="text" name="title" value="" placeholder="제목을 쓰세요"></div>
                  <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                  <input type="button" name="" value="작성" class="editor-button btn btn-default">
                  {% elif (category=="qnaAnswer" && type=="write" ) || (category=="reportResult" && type=="write" ) %}
                  <div class="underbar-title border-blue">답변</div>
                  <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                  <input type="button" name="" value="작성" class="editor-button btn btn-default">
                  {% elif (category=="qnaQuestion" && type=="write" ) }
                  <div class="underbar-title border-blue"><input class="clear-input" type="text" name="title" value="" placeholder="제목을 입력하세요"><label for="privacy" class="ckeckbox-label">비빌글</label><input class="privacy-check" type="checkbox" name="privacy"></div>
                  <textarea name="editor1" id="editor1" rows="10" cols="80">{{ content }}</textarea>
                  <input type="button" name="" value="작성" class="editor-button btn btn-default">
                  {% elif (category=="report" && type=="write" ) %}
                  <div class="underbar-title border-blue"><input class="clear-input title" type="text" name="title" value="" placeholer="제목을 쓰세요"><input class="room" type="text" name="room" value="{{ room }}" placeholder="호실을 입력하세요"></div>
                  <textarea name="editor1" id="editor1" rows="10" cols="80">{{ content }}</textarea>
                  <input type="button" name="" value="작성" class="editor-button btn btn-default">
                  {% elif (category=="notice" && type=="modify" ) || (category=="rule" && type=="modify" ) || (category=="faq" && type=="modify" ) || (category=="qnaQuestion" && type=="modify" ) }
                  <div class="underbar-title border-blue"><input class="clear-input" type="text" name="title" value="{{ title }}"></div>
                  <textarea name="editor1" id="editor1" rows="10" cols="80">{{ content }}</textarea>
                  <input type="button" name="" value="작성" class="editor-button btn btn-default">
                  {% elif (category=="report" && type=="modify") %}
                  <div class="underbar-title border-blue"><input class="clear-input title" type="text" name="title" value="{{ value }}"><input class="room" type="text" name="room" value="{{ room }}"></div>
                  <textarea name="editor1" id="editor1" rows="10" cols="80">{{ content }}</textarea>
                  <input type="button" name="" value="작성" class="editor-button btn btn-default">
                  </#if>

                </div>
            </div>
        </div>
    </div>
</body>
<!-- <script src="js/ckeditor/ckeditor.js"></script> -->
<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script src="/js/editor.js"></script>
</html>
