body {
    width: 100vw;
    height: 100vh;
    /*min-height: 100% !important;*/
    background-color: rgb(52, 152, 219);
    margin: 0 !important;
    padding: 0 !important;
}

header {
    position: relative;
    height: 20vh;
    width: 100vw;
}

header .logo {
    position: relative;
    left: 40%;
    width: 20%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}

header .logo:hover {
    color: white;
    position: relative;
    left: 40%;
    width: 20%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .logo p {
    margin: 0%;
    font-size: 3em;
    font-weight: 900;
    transition: all 1s ease;
}

header .logo p:hover {
    transform: skewX(5deg) rotateY(360deg) rotateZ(360deg);
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to right top, transparent 33%, gray 33%, gray 66%, transparent 66%);
    background-size: 3px 3px;
    z-index: -1;
}

.remote {
    border-radius: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    position: fixed;
    top: 20%;
    left: 3%;
    height: 70%;
    width: 10%;
    text-align: center;
}

.remote h1 {
    height: 15%;
}

.remote .category {
    height: 80%;
}

.remote .category a {
    text-decoration: none;
}

.remote .category a p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 13% 0%;
}

.remote .category div {
    display: none;
}

.remote .category a:nth-child(1) {
    color: rgb(52, 152, 219);
}

.remote .category a:nth-child(3) {
    color: rgb(142, 68, 173);
}

.remote .category a:nth-child(5) {
    color: rgb(192, 57, 43);
}

.remote .category .children a {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    display: block;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 13% 0%;
}

.remote .category .children a:hover {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    display: block;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 13% 0%;
}

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    /*overflow-x: hidden;*/
}

.frame h1 {
    margin-left: 7%;
    margin-bottom: 1%;
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-left: 7%;
    margin-right: 0%;
    width: 90%;
    background: rgb(211, 84, 0);
}

#calendar thead{
  background-color: #00a9e0;
}

#calendar {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 7%;
  border : 0px solid black;
}

#calendar tbody td{
  border: 0.1px solid #000;
}

#calendar .days, .days td{
  border: 0 solid #fff;
  background-color: #6fcef9;
}

#prev_month {
  border-top-left-radius: 15px;
}

#next_month {
  border-top-right-radius: 15px;
}

.weeks{
    cursor: pointer;
}

#calendar td {
  width: calc(100%/7);
  height: 30px;
}

.go_home_apply {
}

#apply_form {
  font-size: 22px;
  margin: auto;
  margin-left: 20%;
  margin-top: 30%;
}

#apply_submit {
  font-size: 20px;
  margin-left: 20%;
}

.check {
  margin: 5%;
}

.go_home {
  background-color: rgb(52, 219, 94);
}

.go_dom {
  background-color: rgb(255, 151, 49);
}

/*
River-stone-jin Help this css code
https://github.com/river-stone-jin
*/
