@import "remote.css";

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 48%;
    height: 100%;
    float: left;
    /*overflow-x: hidden;*/
}

.frame h1 {
    margin-left: 7%;
    margin-bottom: 1%;
}

.frame ul {
    position: relative;
    margin-left: 7%;
    padding-left: 0%;
}

.frame ul li {
    list-style-type: none;
    margin: 4% 0%;
}

.frame ul li .title {
    display: inline;
    font-size: 1.3em;
    font-weight: 600;
}

.frame ul li p.date {
    /*display: inline;*/
    color: gray;
    float: right;
    vertical-align: bottom;
    font-size: 0.8em;
    font-weight: 600;
}

.frame .frametitle {
    position: relative;
    height: 12%;
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-left: 7%;
    margin-right: 0%;
    width: 93%;
    background: rgb(142, 68, 173);
}

.right {
    text-align: center;
}

table {
    width: 100%;
}

table .tableheader {
    background-color: rgb(244, 244, 244);
    /*border-top: 1px solid rgb(142, 68, 173);
    border-bottom: 2px solid rgb(142, 68, 173);*/


}

table {
  /*border: 1px solid red;*/
  border-collapse: collapse;
  margin-top: 17%;
  width: 93%;
  margin-left: 7%;
}


table .tableheader th {
    padding: 0;
    border: 0;
    border-top: 1px solid rgb(142, 68, 173);
    border-bottom: 2px solid rgb(142, 68, 173);
    color: rgb(142, 68, 173);
    height: 32px;
}

table td {
    border-bottom: 1px solid rgb(142, 68, 173);
    height: 32px;
}

table tr:hover {
    background-color: rgb(244, 244, 244);
}

table td:nth-child(2) {
  text-align: left;
  font-weight: 900;
  font-size: 0.9em;
}

table td:nth-child(3), table td:nth-child(1)  {
  color: rgb(100, 100, 100);
  font-size: 0.8em;
  font-weight: 900;
}
