@import "remote.css";

body {
    background-color: rgb(52, 152, 219);
}

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    min-height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    /*overflow-x: hidden;*/
}

.frame h1 {
    margin-left: 7%;
    margin-bottom: 1%;
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-left: 7%;
    margin-right: 0%;
    width: 90%;
    background: rgb(211, 84, 0);
}

#calendar thead{
  background-color: #00a9e0;
}

#calendar {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 7%;
  border : 0px solid black;
}

#calendar tbody td{
  border: 0.1px solid #000;
}

#calendar .days, .days td{
  border: 0 solid #fff;
  background-color: #6fcef9;
}

#prev_month {
  border-top-left-radius: 15px;
}

#next_month {
  border-top-right-radius: 15px;
}

.weeks{
    cursor: pointer;
}

#calendar td {
  width: calc(100%/7);
  height: 40px;
}

#apply_form {
  margin-left: 20%;
  margin-top: 17%;
}

#apply_field {
  width: 80%;
}

#date {
  font-size: 120%;
}

#apply_submit {
  float: right;
  margin-right: 7%;
}

.color {
  vertical-align: -35%;
  display: inline-block;
  width:2vw;
  height:2vw;
  border-radius: 50%;
}

.go_home {
  background-color: rgb(52, 219, 94);
}

.go_dom {
  background-color: rgb(255, 151, 49);
}

.go_home_duty {
  background-color: rgb(255, 238, 34);
}
