@import "remote.css";

/*remote.css로 수정필요*/

body {
    background-color: rgb(52, 152, 219)
}

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    min-height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    /*overflow-x: hidden;*/
}

.frame .frametitle {
    margin-left: 7%;
}

.frame h1 {
    margin-bottom: 1%;
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-right: 0%;
    width: 93%;
    background: rgb(211, 84, 0);
}

.right form {
  width: 80%;
  margin-top: 17%;
}

.right fieldset {
  height: 300px;
}

#apply_table {
  width: 100%;
  text-align: center;
}

#apply_submit {
  float: right;
}
