@import "remote.css";

/*remote.css로 수정필요*/

body {
    background-color: rgb(52, 152, 219);
}

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    min-height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    /*overflow-x: hidden;*/
}

.frametitle {
    margin-left: 7%;
}

.frame h1 {
    margin-bottom: 1%;
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-right: 0%;
    width: 93%;
    background: rgb(211, 84, 0);
}

#select_table {
  margin: auto;
  margin-top: 3%;
  height: 200px;
}

#select_table td {
    height: calc(100%/3);
    border-radius: 10%;
    background-color: rgb(52, 152, 219);
    text-align: center;
    color: white;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#select_table td:hover, #submit_button:hover {
  background-color: rgba(52, 152, 219, 0.5);
}

#sat, #sun {
  border-radius: 0 0 10% 10%;
}

#submit_button {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  border-radius: 10%;
  cursor: pointer;
  background-color: rgb(52, 152, 219);
  width: 70px;
  height: 30px;
}
