body {
  background-color: #00bcfc;
}

#title {
  text-align: left;
  font-size: 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
}

#card {
  padding: 20px;
  background-color: white;
  text-align: center;
  width: 30%;
  height: 350px;
  margin: auto;
  margin-top: 10%;
  border-radius: 15px;
  font-size: 20px;
}

#login_form input {
  margin: 10px;
  font-size: 20px;
}

#recaptcha {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15%;
}

#submit {
  border-radius: 5px;
  margin: 10px;
  margin-top: 25px;
  margin: auto;
  font-size: 20px;
  background-color: #1fa9d8;
  width: 30%;
  height: 30px;
  line-height: 30px;
}

#submit:hover {
  cursor: pointer;
}
