@import "remote.css";
body {
    background-color: #f0f0f0;
}

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    min-height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    /*margin-left: 2%;*/
    /*overflow-x: hidden;*/
}

.frame h1 {
    margin-bottom: 1%;
}

.frame ul {
    position: relative;
    padding-left: 0%;
    margin-left: 7%;
}

.frame ul li {
    list-style-type: none;
    margin: 4% 0%;
    width: 93%;
}

.frame ul li .title {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
    width: 80%;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.frame ul li p.date {
    /*display: inline;*/
    color: gray;
    float: right;
    vertical-align: bottom;
    font-size: 0.8em;
    font-weight: 600;
}

.frame .frametitle {
    position: relative;
    margin-left: 7%;
    /*height: 16%;*/
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-right: 0%;
    width: 93%;
    background: rgb(211, 84, 0);
}

.food .underline {
    background: rgb(41, 128, 185);
}

.food .menues {
    position: relative;
    height: 88%;
    width: 93%;
    margin-left: 7%;
}

.food .meal {
    position: relative;
    height: 20%;
    margin: 16px 0;
}

.food .meal h2 {
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    /*padding: 5% 0%;*/
}

.food .meal p {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-left: 4%;
    /*float: right;*/
}

.food .info {
    position: relative;
    width: 90%;
    background-color: #f0f0f0;
    display: inline-block;
    transition: all 0.5s ease;
}

.food .info:hover {
    background-color: rgb(41, 128, 185);
    color: white;
}

.food img {
    vertical-align: middle;
    /*height: 30%;*/
    height: 25px;
}


/*==========  Non-Mobile First Method  ==========*/


/* All Device */


/* Large Devices, Wide Screens : ~ 1200px */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops : ~ 992px */

@media only screen and (max-width: 992px) {
    .main {
        /*width: 50%;*/
        top: 20vh;
        left: 5%;
        width: 90%;
    }
    .food .info {
        width: 89%;
    }
    .frame ul li .title {
        width: 70%;
    }
    /*.frame {
        width: 100%;
    }

    .food {
        float: none;
    }*/
}


/* Small Devices, Tablets : ~ 768px */

@media only screen and (max-width: 768px) {
    .main {
        /*width: 50%;*/
        top: 20vh;
        left: 5%;
        width: 90%;
    }
    .food .info {
        width: 89%;
    }
    .frame ul li .title {
        width: 70%;
    }
    .frame {
        width: 100%;
    }
    .food {
        float: none;
    }
}


/* Extra Small Devices, Phones : ~ 480px */

@media only screen and (max-width: 480px) {
    .main {
        /*width: 50%;*/
        top: 20vh;
        left: 5%;
        width: 90%;
    }
    .food .info {
        width: 89%;
    }
    .frame ul li .title {
        width: 70%;
    }
    .frame {
        width: 100%;
    }
    .food {
        float: none;
    }
}


/* Custom, iPhone Retina : ~ 320px */

@media only screen and (max-width: 320px) {
  .main {
      /*width: 50%;*/
      top: 20vh;
      left: 5%;
      width: 90%;
  }
  .food .info {
      width: 89%;
  }
  .frame ul li .title {
      width: 70%;
  }
  .frame {
      width: 100%;
  }
  .food {
      float: none;
  }
}
