@import "remote.css";

body {
    background-color: #f0f0f0;
}

.main {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20vh;
    left: 16%;
    height: 70%;
    width: 80%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.frame {
    position: relative;
    width: 48%;
    height: 100%;
    float: left;
    /*overflow-x: hidden;*/
}

.frame h1 {
    margin-left: 7%;
    margin-bottom: 1%;
}

.frame ul {
    position: relative;
    margin-left: 7%;
    padding-left: 0%;
}

.frame ul li {
    list-style-type: none;
    margin: 4% 0%;
}

.frame ul li .title {
    display: inline;
    font-size: 1.3em;
    font-weight: 600;
}

.frame ul li p.date {
    /*display: inline;*/
    color: gray;
    float: right;
    vertical-align: bottom;
    font-size: 0.8em;
    font-weight: 600;
}

.frame .frametitle {
    position: relative;
    height: 12%;
}

.underline {
    position: relative;
    right: 0%;
    height: 8px;
    margin-left: 7%;
    margin-right: 0%;
    width: 93%;
    background: rgb(211, 84, 0);
}

.food .underline {
    background: rgb(41, 128, 185);
}

.food .menues {
    position: relative;
    height: 88%;
}

.food .meal {
    margin-left: 7%;
    position: relative;
    height: 20%;
    margin-top: 16px;
}

.food .meal h2 {
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    /*padding: 5% 0%;*/
}

.food .meal p {
    display: inline-block;
    vertical-align: middle;
    width: 79%;
    margin-left: 4%;
    /*float: right;*/
}

.food .info {
    position: relative;
    width: 93%;
    background-color: #f0f0f0;
    display: inline-block;
    transition: all 0.5s ease;
}

.food .info:hover {
    background-color: rgb(41, 128, 185);
    color: white;
}

.food img {
    vertical-align: middle;
    height: 30%;
}
