table {
    width: 100%;
}

table .tableheader {
    background-color: rgb(244, 244, 244);
    /*border-top: 1px solid rgb(142, 68, 173);
    border-bottom: 2px solid rgb(142, 68, 173);*/


}

table {
  /*border: 1px solid red;*/
  border-collapse: collapse;
  margin-top: 17%;
  width: 93%;
  margin-left: 7%;
}


table .tableheader th {
    padding: 0;
    border: 0;
    border-top: 1px solid rgb(142, 68, 173);
    border-bottom: 2px solid rgb(142, 68, 173);
    color: rgb(142, 68, 173);
    height: 32px;
}

table td {
    border-bottom: 1px solid rgb(142, 68, 173);
    height: 32px;
}

table tr:hover {
    background-color: rgb(244, 244, 244);
}

table td:nth-child(2) {
  text-align: left;
  font-weight: 900;
  font-size: 0.9em;
}

table td:nth-child(3), table td:nth-child(1)  {
  color: rgb(100, 100, 100);
  font-size: 0.8em;
  font-weight: 900;
}
