<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="EUC-KR">
    <title>대덕 소프트웨어 마이스터고 알리미 Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/themes/flat-blue.css">
</head>

<body class="flat-blue landing-page" background="../test.jpg"
      oncontextmenu="return false" topmargin="0" ondragstart="return false"
      onselectstart="return false">

<nav class="navbar navbar-inverse navbar-fixed-top  navbar-affix"
     role="navigation" data-spy="affix" data-offset-top="60">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://dsm2015.cafe24.com/DSM/">
                <div class="title">DSM</div>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse "
             aria-expanded="true">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a onclick="callPage('extends')"
                                      style="cursor: pointer;">연장학습</a></li>
                <li class="active"><a onclick="callPage('residual')"
                                      style="cursor: pointer;">잔류신청</a></li>
                <li class="active"><a data-toggle="modal"
                                      data-target="#EditPassword" style="cursor: pointer;">EditPassword</a></li>
                <li class="active"><a href="../controll/Logout.jsp">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="app-container">
    <div id="context"></div>

    <div class="modal fade" id="EditPassword" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">비밀번호 변경</h4>
                </div>
                <div class="modal-body">
                    <form action="../controll/EditInfo.jsp" method="POST">
                        <label for="username">ID</label> <input type="text"
                                                                name="Username" class="form-control" id="username"
                                                                placeholder="아이디"><br> <label
                            for="password">PASSWORD</label>
                        <input type="password" name="password" class="form-control"
                               id="password" placeholder="비밀번호"> <br> <label
                            for="cpassword">Change Password</label> <input type="password"
                                                                           name="cpassword" class="form-control"
                                                                           id="cpassword"
                                                                           placeholder="변경할 비밀번호"> <br> <label
                            for="cpasswordc">Change Password Confirm</label> <input
                            type="password" name="cpasswordc" class="form-control"
                            id="cpasswordc" placeholder="변경할 비밀번호 확인"> <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">취소
                            </button>
                            <input type="submit" class="btn btn-primary" value=" 제출 "><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="app-footer">
    <div class="wrapper">
        <center>
            <a href="http://boxfoxs.tistory.com" target="_blank">By BoxFox</a>
            <br>
            Design Library : <a href="https://github.com/tui2tone/flat-admin-bootstrap-templates" target="_blank">flat-admin-bootstrap</a> <br>
        </center>
    </div>
</footer>

<div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="../lib/js/bootstrap-switch.min.js"></script>

    <script type="text/javascript" src="../lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript"
            src="../lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="../lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="../lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="../lib/js/ace/theme-github.js"></script>
    <script>
			function callPage(link) {
				$.ajax({
					type : "GET",
					url : link ,
					dataType : "text",
					error : function() {
						alert('통신실패!!');
					},
					success : function(data) {
						$('#context').html(data);
					}

				});
			}
    </script>
</body>
</html>
<script>
	callPage('extends');


</script>