<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dms.beinone.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AfterSchoolActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ExtensionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StayActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".MealWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity
            android:name=".activities.DormitoryFaqActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DormitoryNoticeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FrequentlyQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NoticeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.FaqActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".activities.ChangePasswordActivity">
        </activity>
        <activity android:name=".activities.RegisterActivity">
            
        </activity>
    </application>

</manifest>